<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
  <a class="navbar-brand logo" href="dashboard">Task Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="planning">Planning</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="group">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="task">Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="teamwork">Teamwork</a>
      </li>
    </ul>


    <ul class="navbar-nav">
      <ul class="navbar-nav ml-auto" *ngIf="authService.userData as user">

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy_user.svg'}}"
              alt="{{user.displayName}}" width="35px">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
            <a class="dropdown-item">
              <fa-icon [icon]='faUser'></fa-icon> &nbsp; {{(user.displayName) ? user.displayName : 'User'}}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="authService.SignOut()">
              <fa-icon [icon]='faSignOutAlt'></fa-icon> &nbsp; Log out
            </a>
          </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
              {{(user.displayName) ? user.displayName : 'User'}}
            </a>
          </li> -->
        <!-- <li class="nav-item">
            <button class="nav-link btn btn-sm btn-outline-secondary" type="button" (click)="authService.SignOut()">Log
              out</button>
          </li> -->
      </ul>
      <!-- </div> -->

    </ul>
  </div>
</nav>